.button {
  display: block;
  width: 230px;
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 25px;
  border: 2px solid $color-default-white;
  color: $color-default-white;
  text-transform: uppercase;
  background-color: $color-transparent;
  z-index: 5;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  &:active:not(:disabled) {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &[disabled] {
    color: $color-default-white-50;
    border-color: $color-default-white-50;
  }

  &--light {
    border: 2px solid $color-sapphire;
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &--main {
    background: $gradient-button;
    width: 234px;
    padding: 27px 25px;
    border: none;
    color: $color-default-white;
  }
}

@media (max-width: $vp-1365) {
  .button {
    width: 185px;
    padding: 20px;

    &--main {
      padding: 22px;
    }
  }
}
