.footer {
  font-family: $ff-roboto;
  color: $color-sapphire;
  text-align: left;
}

.footer__wrapper {
  background-color: $color-black-russian;
  color: $color-default-white;

  &--inf {
    color: $color-sapphire;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include vp-1365 {
      background-color: none;
      grid-template-columns: 1fr;
    }
  }
}
