.games {
  padding-top: 120px;
  width: 100%;
  font-family: $ff-roboto;

  @include vp-1365 {
    padding-top: 100.5px;
  }

  @include vp-767 {
    padding-top: 71px;
  }
}

.games__news-container {
  margin: 0 auto;
  color: $color-default-white;
  width: 1160px;
  margin-bottom: 112px;
  min-height: 500px;
  display: grid;
  grid-column: span 2;
  grid-row: span 1;
  grid-template-columns: 1fr auto;

  @include vp-1365 {
    width: 678px;
    min-height: 324px;
    margin-bottom: 97px;
  }

  @include vp-767 {
    width: 290px;
    grid-template-columns: 1fr;
    grid-column: span 1;
    grid-row: span 2;
    margin-bottom: 53px;
  }
}

.games__jury-container {
  margin: 0 auto;
  width: 1366px;

  @include vp-1365 {
    width: 768px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.games__text-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $color-torch-red;
  width: 500px;
  min-height: 500px;
  height: 100%;
  padding: 81px 80px 30px;

  @include vp-1365 {
    width: 292px;
    min-height: 324px;
    padding: 40px 45px;
  }

  @include vp-767 {
    padding: 40px 41px 40px 40px;
    min-height: 309px;
    width: 290px;
  }
}

.games__img-wrapper {
  height: 100%;
}

.games__img {
  width: 100%;
  height: 100%;
}

.games__information {
  display: flex;
  justify-content: space-between;
}

.games__title {
  font-family: $ff-alumni;
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 180px;
  margin-top: 0;
  margin-bottom: 24px;

  @include vp-1365 {
    font-size: 48px;
    line-height: 46px;
    margin-bottom: 22px;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.games__dates {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 2px;
  margin-top: -2.5px;

  @include vp-1365 {
    gap: 8px;
    margin-right: 1px;
    margin-top: 0;
  }

  @include vp-767 {
    gap: 6px;
  }
}

.games__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 14px;

  @include vp-1365 {
    margin-bottom: 2px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
  }
}

.games__numbers-wrapper {
  display: flex;
  position: relative;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: -5.5px;
    left: 0;
    width: 101%;
    height: 1px;
    background-color: $color-default-white;

    @include vp-1365 {
      top: -3px;
    }
  }
}

.games__main-number {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }
}

.games__number {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  justify-content: space-around;
  margin-left: 6px;
  flex-direction: column;

  @include vp-1365 {
    font-size: 10px;
    line-height: 10px;
    margin-top: 1px;
    margin-left: 4px;
  }
}

.games__description {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 17px;
  margin-bottom: 1px;

  @include vp-1365 {
    margin: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    max-width: 170px;
  }
}

.games__button {
  width: 100%;
  margin: 55px 0 45px;

  @include vp-1365 {
    margin: 21.5px 0 0;
  }

  @include vp-767 {
    margin: 21px 0 0;
  }
}

.games__number span {
  @include vp-1365 {
    margin-top: -1px;
  }
}

.games__number span:last-of-type {
  margin-top: -4px;

  @include vp-1365 {
    margin-top: -4.5px;
  }
}
