.main-nav {
  display: flex;
  justify-content: space-between;
  font-family: $ff-roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.main-nav__list {
  @include vp-767 {
    margin: 13px 0;
    padding: 0;
  }
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__logo {
  margin: auto 0;
  cursor: pointer;
}

.main-nav__logo img {
  @include vp-1365 {
    width: 111px;
    height: 24px;
    object-fit: contain;
  }

  @include vp-767 {
    width: 102px;
    height: 22px;
  }
}


.main-nav__link {
  color: $color-default-white;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    color: $color-resolution-blue;
  }

  &:active:not([disabled]) {
    color: $color-sapphire;
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }

  &[disabled] {
    opacity: 50%;
  }
}

.main-nav__svg {
  @include vp-1365 {
    width: 111px;
    height: 24px;
  }

  @include vp-767 {
    width: 102px;
    height: 22px;
  }
}
