.main-nav {
  display: flex;
  justify-content: space-between;
  font-family: $ff-roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__logo {
  margin: auto 0;
}

.main-nav__link {
  color: $color-default-white;
}
