.social {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
}

.social__logo {
  height: 100%;
  display: flex;
  margin: auto 0;
}

.social__logo-link {
  min-width: 109px;
}

.social__link {
  cursor: pointer;
  color: inherit;
  padding: 7px;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    border: 1px solid $color-default-white;
  }

  &[disabled] {
    opacity: 40%;
  }
}

.social__svg {
  display: block;
  margin: auto 0;

  @include vp-1365 {
    width: 100px;
    height: 22px;
    object-fit: none;
  }

  @include vp-767 {
    height: 15px;
    width: 99px;
    object-fit: contain;
    margin-left: 2px;
  }
}

.social__wrapper {
  width: 1366px;
  margin: 0 auto;
  padding: 25px 103px 26px;
  display: flex;
  justify-content: space-between;

  @include vp-1365 {
    width: 768px;
    padding: 31px 45px;
  }

  @include vp-767 {
    width: 320px;
    flex-direction: column;
    padding: 28px 8px 45px;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 26.5px;
  padding: 0;
  margin-top: 17px;
  margin-right: 15px;

  @include vp-1365 {
    gap: 16px;
    margin-top: 13px;
  }

  @include vp-767 {
    margin-top: 31px;
    gap: 19px 21px;
    margin-bottom: 53px;
  }
}

.social__social-list {
  list-style-type: none;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 95px;
  padding: 0;
  margin-top: 15px;

  @include vp-1365 {
    margin-top: 14px;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.social__social-item {
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social__social-item:hover,
.social__social-item:focus {
  background-color: $color-egyptian-blue;
}

.social__social-item:active {
  background-color: $color-sapphire;
}

.social__social-link {
  color: $color-black-russian;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social__social-link:hover,
.social__social-link:focus {
  color: $color-default-white;
}
